#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  min-height: 100vh; /* Ensure it takes the full height of the viewport */
}
