@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh; 
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}